body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main-container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#homepage-container .button {
  height: 50px;
  margin: 20px;
}

header {
  height: 50px;
  background-color: #3f0e19
}

footer {
  height: 30px;
  background-color: black;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

.flex-column {
  -webkit-flex: 1;
  flex: 1;
}

[ng-click] {
  cursor: pointer;
}
